<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'disninja/css/styles.css' %}">
    <script src="{% static 'disninja/js/main.js' %}">
    </script>
</head>

<body>
    <!--<img src="{% static 'disninja/images/tmnt.png' %}" alt="No image ">-->
    <img src="{% static 'disninja/images/' %}{{image}}">
</body>

</html>